<div class="body">
    <div class="container">
        <!--users table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>D.O.B</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.dob}}</td>
                    <td>{{user.role}}</td>
                    <td><p class="status p-1 bg-white-100 rounded text-center shadow-lg"
                        [ngClass]="{'bg-blue-100': !user.status, 'bg-red-100':user.status}">
                        {{user.active? 'Active' : 'Inactive'}}
                    </p></td>
                        <td class="flex">
                            <!-- <button 
                              class="px-3 py-1 bg-blue-200 text-white rounded hover:bg-blue-700"
                              (click)="openModal(user)">
                              ✏️ Edit
                            </button> -->
                            <button 
                              class="px-3 py-1 bg-red-200 text-white rounded hover:bg-red-700"
                              (click)="deleteItem(user.email)">
                              🗑️ Delete
                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
